@page
@model SoundClash.Pages.NotFoundModel
@{
    ViewData["Title"] = "No such page";
}
<h1>404 Not found</h1>
<p>No such page exists at this location.</p>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
        frameborder="0"
        allowfullscreen
        allow=autoplay>
</iframe>